<mat-card-content>
  <ngx-datatable
    style="width: 100%"
    [columns]="columns"
    [columnMode]="'standard'"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="10"
    [rows]="rows"
    class="material">
    <ngx-datatable-column name="Actions">
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button color="accent" title="Editar" (click)="editPokemon(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="text-success" title="Eliminar" (click)="deletePokemon(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name">
    </ngx-datatable-column>
    <ngx-datatable-column name="Image" prop="image">
      <ng-template mat-cell>

      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Type" prop="type">
    </ngx-datatable-column>
    <ngx-datatable-column name="Attack" prop="attack">
    </ngx-datatable-column>
    <ngx-datatable-column name="Defense" prop="defense">
    </ngx-datatable-column>
  </ngx-datatable>
</mat-card-content>
